
.gitignore~
*.root
*.pyc
scratch
*.pcm
*.d
*.pdf
*.png
*.jpg
*.so
minimal/submitCondor.txt
minimal/logs/
minimal/HistogramProducer_cc.so
minimal/.nfs*
minimal/HistogramProducer_cc.so
plotter/cards
plotter/plots_mllWeights
plotter/testDatacard.txt
plotter/tmpDataCard.txt
plotter/tmpDataCard.txt.limit
plotter/plots_CR/
plotter/plots_CR_dy/
plotter/plots_CR_tt/
plotter/plots_CR_wz/
plotter/plots_CR_zz/
plotter/limitCalculations/

myAnalyzer/.nfs*
SplitTrees/.nfs*
plotter/combine_logger.out
plotter/contamination/
plotter/systBKG/
plotter/triggerStudies/

minimal/TreeParticlesDanilo.hpp
minimal/AutoDict_map_int_pair_int_int___.cxx

myAnalyzer/logs
SplitTrees/logs

minimal/example.ini
